<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Родовые_сертификаты.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.8.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <Родовые_сертификаты.Properties.Settings>
      <setting name="server" serializeAs="String">
        <value>172.16.16.172</value>
      </setting>
      <setting name="user" serializeAs="String">
        <value>root</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>fg67klbn0</value>
      </setting>
      <setting name="database" serializeAs="String">
        <value>RodCertificate</value>
      </setting>
      <setting name="INN_LPU" serializeAs="String">
        <value>2309039134</value>
      </setting>
      <setting name="RegNumb_LPU" serializeAs="String">
        <value>2303151117</value>
      </setting>
      <setting name="KPP_LPU" serializeAs="String">
        <value>230901001</value>
      </setting>
      <setting name="OGRN_LPU" serializeAs="String">
        <value>1022301425629</value>
      </setting>
      <setting name="Name_LPU" serializeAs="String">
        <value>ГБУЗ 'Детская краевая клиническая больница' МЗ КК</value>
      </setting>
      <setting name="Address_LPU" serializeAs="String">
        <value>350007, г. Краснодар, ул. пл. Победы, 1</value>
      </setting>
      <setting name="Type_LPU" serializeAs="String">
        <value>Государственное</value>
      </setting>
      <setting name="OwnDoc_LPU" serializeAs="String">
        <value>Клещенко Е.И.</value>
      </setting>
      <setting name="OwnBookKeep" serializeAs="String">
        <value>Сидорова Т.Н.</value>
      </setting>
      <setting name="RS_LPU" serializeAs="String">
        <value>40601810900003000001</value>
      </setting>
      <setting name="BankName_LPU" serializeAs="String">
        <value>Минфин КК (ГБУЗ ДККБ, л/с 828.51.185.0) ЮЖНОЕ ГУ БАНКА РОССИИ г. Краснодар, назначение платежа - 82800000000000000 130, КОСГУ 131, Тип средств - 20.02.00</value>
      </setting>
      <setting name="BIK_LPU" serializeAs="String">
        <value>040349001</value>
      </setting>
      <setting name="KS_LPU" serializeAs="String">
        <value />
      </setting>
      <setting name="INN_FSS" serializeAs="String">
        <value>2308007718</value>
      </setting>
      <setting name="KPP_FSS" serializeAs="String">
        <value>230901001</value>
      </setting>
      <setting name="Name_FSS" serializeAs="String">
        <value>ГУ - КРО ФСС РФ</value>
      </setting>
      <setting name="Address_FSS" serializeAs="String">
        <value>350033, г. Краснодар, ул. Ставропольская, 82</value>
      </setting>
      <setting name="RS_FSS" serializeAs="String">
        <value>40402810903490000001</value>
      </setting>
      <setting name="BankName_FSS" serializeAs="String">
        <value>Южное ГУ Банка России по Краснодарскому краю г. Краснодар</value>
      </setting>
      <setting name="BIK_FSS" serializeAs="String">
        <value>040349001</value>
      </setting>
      <setting name="KS_FSS" serializeAs="String">
        <value />
      </setting>
      <setting name="DocNumb_FSS" serializeAs="String">
        <value>023</value>
      </setting>
      <setting name="DocDate_FSS" serializeAs="String">
        <value>20.12.2018</value>
      </setting>
      <setting name="eventType_id" serializeAs="String">
        <value>2, 60</value>
      </setting>
    </Родовые_сертификаты.Properties.Settings>
  </userSettings>
</configuration>